- title 'Sign in'

= simple_form_for :session, url: '/auth/identity/callback' do |f|
  = f.input :auth_key, label: 'Email', input_html: {name: 'auth_key'}
  = f.input :password, input_html: {name: 'password'}

  .form-actions
    = f.button :submit, 'Sign in', class: 'btn-primary'
