- title "Notes made on #{@weekday.strftime('%A').pluralize}"

%ul.navigation-actions
  %li.previous
    - previous_day = (@weekday - 1.day).strftime('%A').pluralize
    = link_to previous_day, week_day_diary_path(previous_day.downcase)
  %li.next
    - next_day = (@weekday + 1.day).strftime('%A').pluralize
    = link_to next_day, week_day_diary_path(next_day.downcase)

.notes= render @notes
