@import '_mixins';

.freetext {
  label {
    display: none;
  }

  .input {
    margin-left: 0;
  }

  textarea {
    width: 99%;
    font-size: 1.2em;
    resize: none;
    height: 20em;
  }
}

ul.navigation-actions {
  display: table;
  width: 100%;
  margin-left: 0;

  li {
    display: table-cell;
    text-align: center;

    &.previous {
      text-align: left;

      a:before {
        content: "← ";
      }
    }

    &.next {
      text-align: right;

      a:after {
        content: " →";
      }
    }
  }

}

.notes {
  @include clearfix;

  .half {
    width: 48%;

    &:nth-child(1) {
      float: left;
    }

    &:nth-child(2) {
      float: right;
    }
  }
}

.note {
  @include clearfix;
  border-top: 1px solid #ccc;

  ul.note-actions {
    float: right;
    padding: 5px;
    border: 1px solid #eee;
    margin: 0 0 10px 10px;

    li {
      text-align: right;
      margin: 3px;

      a {
        padding: 2px 2px 2px 20px;
      }

      &.edit-note a {
        background: url(icons/edit.png) no-repeat left center;
      }
    }
  }
}

// tablet styles

@media only screen and (max-width: 800px) {
  .notes .half {
    width: auto;

    &:nth-child(1) {
      float: none;
      margin-right: auto;
    }

    &:nth-child(2) {
      float: none;
      margin-right: auto;
    }
  }
}
